.card {
margin-top: 2%;   
margin-left: 3%;
width: 16rem;
border:1px solid #ccc;
}


.title a{
text-decoration: none;
color: red;
font-size: 18px;
font-weight: bold;
}

.navbar-brand h1{
  font-size: 19px;
  
}

